.header{
    background-color:darkgreen
}

.Accountheader{
    background-color:rgb(227, 241, 18);
    padding: 60px;
}

#Accountheader2{
    background-color:rgb(227, 241, 18);
    display:contents;
    padding: 36.8px;
}

#function_area{
    width: 27%;
    float: left;
    background-color:darkseagreen;
    height: 100%;
}

#context_area{
    width: 74%;
    float: right;
}

#Welcome{
    float: right;
}

#login_body{
    position: absolute;
    width:35%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid ;
    padding: 10px;
    box-shadow:  5px 5px #888888;
    background-color: rgba(243, 243, 243, 0.979);
}

.login_input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.ID_input{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.checkin_input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.Register_input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#check_in_area{
    width: 100%;
    height: 100%
}

#left_checkin_area{
    width: 50%;
    height: 50%;
}

#right_checkin_area{
    width: 50%;
    height: 50%;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.logo{
    text-align:center;

}
.covid{
    text-align: left;
    font-size: 220%;
    color:snow;
    font-family: sans-serif;
}
.login{
    text-align: right;
    font-size: 150%;
}

#main_menu{
    background-color:darkseagreen;
    text-align: center;
    vertical-align: central;
    padding-top: 20px;
}

#map{
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%; 
    height: 500px;
}