.header{
    background-color:yellowgreen;
}

.Accountheader{
    background-color:yellowgreen;
    padding: 40px;
}

#function_area{
    border-right-style: solid;
    border-width: 2px;
    width: 25%;
    float: left;
}

#context_area{
    width: 74%;
    float: right;
}

#Welcome{
    float: right;
}