.header{
    background-color:yellowgreen;
}

.Accountheader{
    background-color:yellowgreen;
    padding: 40px;
}

#function_area{
    width: 20%;
    float: left;
}

#context_area{
    width: 80%;
    float: right;
}

#Welcome{
    float: right;
}