.header{
    background-color:yellowgreen;
}

.Accountheader{
    background-color:rgb(227, 241, 18);
    padding: 60px;
}

#Accountheader2{
    background-color:rgb(227, 241, 18);
    display:contents;
    padding: 36.8px;
}

#function_area{
    border-right-style: solid;
    border-width: 2px;
    width: 25%;
    float: left;
}

#context_area{
    width: 74%;
    float: right;
}

#Welcome{
    float: right;

}